<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderSimplifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <OrderSimplifier.Properties.Settings>
            <setting name="SourceText" serializeAs="String">
                <value>@. BTF 1175

LC 1200 @0.6 x 1
LC 1200 @0.6 x 1

LC 1150 @2.3 x 1
LC 1150 @2.4 x 1

SC 1175 @0.7 x 1
SC 1175 @0.8 x 1
</value>
            </setting>
            <setting name="SimplifyMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SimulationLF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimulationSF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimulationStartIndex" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="SimulationContracts" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SimulationSteps" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SimulationCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SimplifyAutoSelectText" serializeAs="String">
                <value>False</value>
            </setting>
        </OrderSimplifier.Properties.Settings>
    </userSettings>
</configuration>
